.item {
    font-family: Verdana;
    border: 1px solid;
    width: 256px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

.item-icon {
    background-color: white;
    width: 236px;
    height: 236px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

.item {
    margin: 5px;
}

.item-remove {
    color: white;
    background-color: rgb(256, 64, 64);
    width: 200px;
    height: 30px;
    font-weight: bold;
}

.item-remove:hover {
    transition: 0.5s;
    background-color: rgb(128, 32, 32);
}